.ui.grid.select-filter>.row {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.ui.grid.select-filter>.row>.column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex: auto;
}

.ui.grid.select-filter>.row>.column.action {
    flex: 0 0 min-content;
}

.ui.items>.item.codex>.image.tiny,
.ui.items>.item.codex>.image.tiny>img {
    width: 80px !important;
}