#filters.grid label {
    font-size: 0.78571429rem;
    font-weight: bold;
    margin-left: 0.21428571rem;
}

/* Mobile Only */
@media only screen and (max-width: 991px) {
    #filters.grid .column.wide {
        width: 100% !important;
    }
}